{% extends 'common/base.html' %}
{% block content %} <!--Details Page-->
<section id="detailsPage">
    <div class="wrapper">
        <div class="albumCover">
            <!-- Album Image -->
            <img src="{{ album.image_url }}" alt="Cover Image">
        </div>

        <div class="albumInfo">
            <div class="albumText">
                <h1>Name: {{ album.name }}</h1>
                <h4>Price: ${{ album.price }}</h4>
                <h4>Songs:
                {% for song in songs %}
                    <span>{{ song.name }}</span>
                    {% if not forloop.last %} | {% endif %}
                {% endfor %} </h4>
            </div>
            <div class="actionBtn">
                <!-- Album Buttons -->
                <a href="{% url 'album_edit' album_id=album.id %}" class="edit">Edit</a>
                <a href="{% url 'album_delete' album_id=album.id %}" class="remove">Delete</a>
            </div>
        </div>
    </div>
</section> {% endblock %}